.addEmp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addEmp__opacity{
    opacity: 0.7;
}

.addEmp__desktop{
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
    flex: 0.7;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addEmp__container{
    display: flex;
    justify-content: space-between;
}

.addEmp__nameInput, .addEmp__roleInput, .addEmp__dateInput{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    padding: 7px;
    flex:0.12;
}

.addEmp__nameInput > .MuiSvgIcon-root, .addEmp__roleInput > .MuiSvgIcon-root, .addEmp__dateInput > .MuiSvgIcon-root{
    color: #1DA1F2 !important;
}



.addEmp__nameInput > input, .addEmp__roleInput > input, .addEmp__dateInput > input{
    outline:none;
    border: none;
    margin-left: 3px;
    /* margin-right: 8px; */
    text-overflow: ellipsis;
    flex:1;
}

.addEmp__actions{
    display: flex;
    margin-top: 20px;
    justify-content: left;
}

.addEmp__actions > button{
    margin-right: 15px;
    border-radius: 5px;
    outline: none;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

.addEmp__actions > button:hover{
    opacity:0.8;
}

.addEmp__actions > button:nth-child(1){
    background-color: whitesmoke;
    color: #1DA1F2;
}

.addEmp__actions > button:nth-child(2){
    background-color: #1DA1F2;
    color: #fff;
}

.addEmp__pickerContainer{
    display: flex;
    justify-content: center;
}
.addEmp__datePicker{
    display: flex;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    z-index: 999;
    border: 1px solid lightgray;
    background-color: #fff;
    position: fixed;
    top:140px;
    opacity: 1;
   
}

.addEmp__pickerBtn{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}

.addEmp__pickerBtn > button{
    flex:0.4;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color:#1DA1F2;
    padding: 7px 9px;
    border-radius: 7px;
}

.addEmp__pickerBtn > button:hover{
    background-color: #1DA1F2;
    color: #fff;
    opacity: 0.9;
}

@media all and (max-width:1200px) and (min-width:850px){
    .addEmp__desktop{
        padding: 30px 50px;
    }
    .addEmp__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .addEmp__datePicker{
        width: 320px;
    }
}

@media all and (max-width:850px) and (min-width:541px){
    .addEmp__desktop{
        padding: 30px 20px;
    }
    .addEmp__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .addEmp__datePicker{
        width: 320px;
    }
}

