.dateSelect__mobile{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    z-index: 999;
    border: 1px solid #fff;
    background-color: #fff;
    position: relative;
    top:-100px;
    opacity: 1;
   
}

.dateSelect__btnRows{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}

.dateSelect__btnRows > button{
    width:40%;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color:#1DA1F2;
    padding: 7px 9px;
    border-radius: 7px;
}

.dateSelect__btnRows > button:hover{
    background-color: #1DA1F2;
    color: #fff;
    opacity: 0.9;
}