.listDesk{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}

.listDesk__opacity{
    opacity: 0.7;
}

.listDesk__desktop{
    flex:0.71;
    display: flex;
    flex-direction: column;
}

.listDesk__currentContainer > h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.listDesk__currentContainer > h3, .listDesk__previousContainer > h3{
    color: white;
    background-color:#1DA1F2;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}

.listDesk__currentContainer > ul, .listDesk__previousContainer > ul{
    list-style-type: none;
    padding-left: 0;
    background-color: #fff;
}

.listDesk__emptyContainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listDesk__emptyContainer > img{
    margin-top: -50px;
}

.listDesk__emptyContainer > button{
    background-color: #1DA1F2;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media all and (max-width:1200px) and (min-width:630px){
.listDesk__desktop{
    flex: 0.72;
}
}
@media all and (max-width:630px) and (min-width:615px){
    .listDesk__desktop{
        flex: 0.73;
    }
}

@media all and (max-width:615px) and (min-width:600px){
    .listDesk__desktop{
        flex: 0.74;
    }
}

@media all and (max-width:600px) and (min-width:575px){
    .listDesk__desktop{
        flex: 0.76;
    }
}

@media all and (max-width:575px) and (min-width:541px){
    .listDesk__desktop{
        flex: 0.81;
    }
}

