.list__mobile{
    position: relative;
}

.list__mobile > button{
    background-color: #1DA1F2;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 10;
}

.list__bottom{
    background-color: whitesmoke;
    position: fixed;
    align-items: center;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 10;
    padding: 8px 15px;
    display: flex;
    border-top: 1px lightgray;
}

.list__bottom > button{
    background-color: #1DA1F2;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    margin-left: auto;
}

.list__bottom > p{
    font-size: 14px;
}

.list__bottom > button:hover, .list__mobile > button{
    opacity: 0.8;
}


.list__currentContainer > h3, .list__previousContainer > h3{
    background-color: whitesmoke;
    color:#1DA1F2;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}

.list__previousContainer{
    margin-bottom: 45px;
}

.list__currentContainer > ul, .list__previousContainer > ul{
    list-style-type: none;
    padding-left: 0;
    transition: transform 0.6s ease-in-out;
    background-color: red;
}

.list__emptyContainer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.list__emptyContainer > img{
    margin-top: -50px;
}

.list__emptyContainer > button{
    background-color: #1DA1F2;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

