.roles{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0px;
    background-color: #fff;
    z-index: 50;
    width: 100%;
}

.roleItems{
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}

.roleItems:nth-child(1){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.roles__container{
    display: flex;
    justify-content: center;
    opacity: 1;
}

.roles__desktop{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top:180px;
    align-items: center;
    width:20%;
    background-color: #fff;
    z-index: 50;
}

.roleItems__desktop{
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    /* color:#9b9b9b; */
}

.roleItems__desktop:hover{
    color:#1DA1F2;
}

.roleItems__desktop:nth-child(1){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.roleItems__desktop:nth-child(4){
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
